/* Html Element */
* {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --blue: aquamarine;
    --dark: #33393f;
    --light: #e866ec;
}

::selection{
    background-color: var(--blue);
    color: var(--dark);
}
header {
        display: flex;
        justify-content: space-between;
        background-color: var(--blue);
        color: var(--dark);
}
nav a{
    display: flex;
    justify-content: right;
    align-content: center;
    padding: .3rem;
}
nav ul {
    display: flex;
    list-style: none;
    padding: .3rem;
    color: var(--dark);
    
}
nav ul:hover{

}
h1 {
    font-size: 3rem;
}
h2{
    font-size: 2rem;
    color: var(--blue);
    background-color: var(--dark);
}
h3{
    background-color: var(--blue);
    color: var(--dark);
    text-align: center;
}
article p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
}

.boxes{
    
}

.card{
width: 50%;
border-style: double;
}

.yukon{
    display:flex;
    justify-content: center;
    background-color: var(--dark);
    border: #33393f;
    border-style: groove;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    width:  100%;
}

.card-header{
    text-align: center;
}





/* Media query for small screens */
@media screen and (min-width: 768px) {
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
}